.local-toat-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.local-toat-right{
    position: fixed;
    bottom: 0;
    right: 50px;
}


/* Estilos básicos para toasts */
.toast {
    max-width: 450px;
    padding: 0.75rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.1);
    /*background-color: #fff;*/
    color: #ebe2e2;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

/* Exibir o toast */
.toast.show {
    opacity: 0.95;
    transform: translateY(0);
}

/* Cabeçalho do toast */
.toast-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    color: #555;
   /* background-color: #f7f7f7;*/
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.toast-header strong {
    margin-right: auto;
    font-weight: bold;
    font-size: 1rem;
    color: inherit;
}

.toast-header .close {
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem -0.25rem auto;
    color: #000;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.toast-success {
    border-color: #28a745;
    background-color: #28a745;
    color: #ffffff;
}

.toast-erro {
    border-color: #dc3545;
    background-color: #dc3545;
    color: #ffffff;
}

.toast-warning {
    border-color: #ffc107;
    background-color: #ffc107;
    color: #ffffff;
}

.toast-info {
    border-color: #17a2b8;
    background-color: #17a2b8;
    color: #ffffff;
}

.close:hover {
    color: red;
}
